<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinqushi.mapper.UserinfoMapper" >
  <resultMap id="BaseResultMap" type="com.xinqushi.entity.Userinfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="idNo" property="idno" jdbcType="VARCHAR" />
    <result column="qqNo" property="qqno" jdbcType="VARCHAR" />
    <result column="payAccount" property="payaccount" jdbcType="VARCHAR" />
    <result column="contactName" property="contactname" jdbcType="VARCHAR" />
    <result column="contactMobile" property="contactmobile" jdbcType="VARCHAR" />
    <result column="relation" property="relation" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, uid, idNo, qqNo, payAccount, contactName, contactMobile, relation, address
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xinqushi.entity.UserinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from userinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from userinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from userinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xinqushi.entity.UserinfoExample" >
    delete from userinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xinqushi.entity.Userinfo" >
    insert into userinfo (id, uid, idNo, 
      qqNo, payAccount, contactName, 
      contactMobile, relation, address
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{idno,jdbcType=VARCHAR}, 
      #{qqno,jdbcType=VARCHAR}, #{payaccount,jdbcType=VARCHAR}, #{contactname,jdbcType=VARCHAR}, 
      #{contactmobile,jdbcType=VARCHAR}, #{relation,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xinqushi.entity.Userinfo" >
    insert into userinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="idno != null" >
        idNo,
      </if>
      <if test="qqno != null" >
        qqNo,
      </if>
      <if test="payaccount != null" >
        payAccount,
      </if>
      <if test="contactname != null" >
        contactName,
      </if>
      <if test="contactmobile != null" >
        contactMobile,
      </if>
      <if test="relation != null" >
        relation,
      </if>
      <if test="address != null" >
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="idno != null" >
        #{idno,jdbcType=VARCHAR},
      </if>
      <if test="qqno != null" >
        #{qqno,jdbcType=VARCHAR},
      </if>
      <if test="payaccount != null" >
        #{payaccount,jdbcType=VARCHAR},
      </if>
      <if test="contactname != null" >
        #{contactname,jdbcType=VARCHAR},
      </if>
      <if test="contactmobile != null" >
        #{contactmobile,jdbcType=VARCHAR},
      </if>
      <if test="relation != null" >
        #{relation,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xinqushi.entity.UserinfoExample" resultType="java.lang.Integer" >
    select count(*) from userinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update userinfo
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.idno != null" >
        idNo = #{record.idno,jdbcType=VARCHAR},
      </if>
      <if test="record.qqno != null" >
        qqNo = #{record.qqno,jdbcType=VARCHAR},
      </if>
      <if test="record.payaccount != null" >
        payAccount = #{record.payaccount,jdbcType=VARCHAR},
      </if>
      <if test="record.contactname != null" >
        contactName = #{record.contactname,jdbcType=VARCHAR},
      </if>
      <if test="record.contactmobile != null" >
        contactMobile = #{record.contactmobile,jdbcType=VARCHAR},
      </if>
      <if test="record.relation != null" >
        relation = #{record.relation,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update userinfo
    set id = #{record.id,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=INTEGER},
      idNo = #{record.idno,jdbcType=VARCHAR},
      qqNo = #{record.qqno,jdbcType=VARCHAR},
      payAccount = #{record.payaccount,jdbcType=VARCHAR},
      contactName = #{record.contactname,jdbcType=VARCHAR},
      contactMobile = #{record.contactmobile,jdbcType=VARCHAR},
      relation = #{record.relation,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xinqushi.entity.Userinfo" >
    update userinfo
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="idno != null" >
        idNo = #{idno,jdbcType=VARCHAR},
      </if>
      <if test="qqno != null" >
        qqNo = #{qqno,jdbcType=VARCHAR},
      </if>
      <if test="payaccount != null" >
        payAccount = #{payaccount,jdbcType=VARCHAR},
      </if>
      <if test="contactname != null" >
        contactName = #{contactname,jdbcType=VARCHAR},
      </if>
      <if test="contactmobile != null" >
        contactMobile = #{contactmobile,jdbcType=VARCHAR},
      </if>
      <if test="relation != null" >
        relation = #{relation,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xinqushi.entity.Userinfo" >
    update userinfo
    set uid = #{uid,jdbcType=INTEGER},
      idNo = #{idno,jdbcType=VARCHAR},
      qqNo = #{qqno,jdbcType=VARCHAR},
      payAccount = #{payaccount,jdbcType=VARCHAR},
      contactName = #{contactname,jdbcType=VARCHAR},
      contactMobile = #{contactmobile,jdbcType=VARCHAR},
      relation = #{relation,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>